<header>
  <h1>Hello!  My name is Jason Overby.</h1>
  <p>I am a full-stack software engineer based in Portland, OR.</p>
  <p>I am the co-creator of the <a href="https://bam-lambda.com"
    target="_blank">BAM! serverless framework</a>.</p>
</header>
<section>
  <h2>BAM!</h2>
  <p>BAM! is a lightweight,
  serverless framework used to quickly build and deploy applications with
  Node.js and AWS. Read the <a href="https://bam-lambda.com#case-study"
    target="_blank">case study</a>.  <a
    href="https://www.npmjs.com/package/bam-lambda" target="_blank">Try it
  out</a>.
  </p>
  <img src="/images/bamDeploy.gif" alt="BAM! in action" class="bam-deploy"/>
  <h2>More About Me</h2>
  <p>I have several years experience with a variety of languages and
  technologies, including Node.js, Ruby, PostgreSQL, React/Redux, and Rails.</p>
  <p>I have spent a lot of time with Amazon Web Services, such as Lambda and API
  Gateway.</p>
  <p>For over three years I have served on the board of directors and contributed to the Rails application that powers <a
      href="http://doodles-academy.org" target="_blank">Doodles Academy</a>, a non-profit with a mission to
    create art curricula for elementary school kids.</p>
</section>
