<header>
  <h1>Hello!  My name is Jason Overby.</h1>
  <br />
  <p>I am a full-stack software engineer based in Portland, OR.</p>
  <br />
  <p>I am the co-creator of the <a href="https://bam-lambda.com" target="_blank">BAM! serverless framework</a>.</p>
  <br />
  <p>...</p>
</header>
<section>
  <h2>More About Me</h2>
  <p>I am interested in building applications for humans.</p>
  </br>
  <p>I have several years experience with a variety of languages and technologies, including Node.js, Ruby, PostgreSQL, React/Redux, and Rails.</p>
  </br>
  <p>I have also spent a lot of time with Amazon Web Services, such as Lambda and API Gateway.</p>
  </br>
  <p>For almost four years I have been on the board of <a
      href="http://doodles-academy.org" target="_blank">Doodles Academy</a>, a non-profit geared
    toward creating art education for elementary school kids, and I have worked
    with a team to design and maintain ther website.</p>
</section>
