<div class="gallery art" data-images="<%= @art[:files] %>" data-alt-text="<%= @art[:alt_text] %>">
  <img class="art-image" src="/images/art/<%= @first_img[:name] %>" alt="<%= @first_img[:alt] %>" />
</div>
