<header>
  <img src="images/jason.jpeg" alt="Jason Overby" class="jason"/>
  <h1>Hello!  My name is Jason Overby.</h1>
  <p>I am a full-stack software engineer based in Portland, OR.</p>
  <p>I am the co-creator of the <a href="https://bam-lambda.com"
    target="_blank">BAM! serverless framework</a>.
  </p>
</header>
<section>
  <h2>BAM!</h2>
  <p>BAM! is a lightweight, serverless framework used to quickly build and
  deploy applications with Node.js and AWS.</p>

  <p>
    <a href="https://bam-lambda.com#case-study" target="_blank"
      class="button">read case study</a>
  </p>

  <img src="/images/bamDeploy.gif" alt="BAM! in action" class="bam-deploy"/>

  <h2>More About Me</h2>
  <p>I have several years experience with a variety of languages and
  technologies, including Node.js, Ruby, PostgreSQL, React/Redux, and Rails.</p>
  <p>I have spent a lot of time with Amazon Web Services, such as Lambda and API
  Gateway.</p>
  <p>For over three years I have served on the board of directors and
  contributed to the application that powers Doodles Academy, a non-profit with
  a mission to create art curricula for elementary school kids.</p>

  <h2>Other Projects</h2>
  <ul>
    <li>
      <h3>Square sales data aggregator</h3>
      <p>Node.js application built to take sales data from the Square point of
      sale, process it, and output the formatted data to a csv file.</p>
    </li>
    <li>
      <h3>Doodles Academy</h3>
      <p>Ruby on Rails application providing a back end portal for content
      creation of art curricula, which can be viewed within the Doodles Academy
      website.</p>
    </li>
    <li>
      <h3>Poem recombinator</h3>
      <p>JavsScript application that will shuffle and reorder a set of
      poems.</p>
    </li>
  </ul>
</section>
