<!DOCTYPE html>
<html>
  <head>
    <meta name="title" property="og:title" content="Jason Overby" />
    <meta name="description" property="og:description" content="Jason Overby is
    a full-stack software engineer based in Portland, OR and co-creator of the
    BAM! serverless framework.">
    <meta name="type" property="og:type" content="website" />
    <meta name="url" property="og:url" content="https://www.jasonoverby.com" />
    <meta name="image" property="og:image" content="/images/jason.jpeg" />
    <meta name="author" content="Jason Overby">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= @title %></title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src="/javascripts/application.js"></script>
  </head>

  <body>
    <nav>
      <p>Jason Overby</p>
      <ul>
        <%= list_items_with_anchors(@nav_links) %>
      </ul>
    </nav>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
