<header class="the-being-being">
  <h1>the being being</h1>
  <p>215 pgs black and white $12 + shipping</p>
  <a href="http://gridlords.storenvy.com/products/14356125-the-being-being#product_name" target="_blank">
    <img class="click-these letters" src="/images/clicktheseletters.jpg" alt="Click to buy" />
  </a>
</header>

<div class="cf">
  <section class="gallery left">
    <%= gallery(@directory) %>
  </section>
</div>
