/* ========================

             Font

   ======================== */

body {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri,
  "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed",
  "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue",
  Helvetica, Arial, sans-serif;
}

h1, a, li {
  font-size: 1.5rem;
}

h1 {
  font-weight: normal;
}

/* ========================

           Float

   ======================== */

.right {
  float: right;
}

.cf:after {
  clear: both;
  content: "";
  display: block;
}

/* ========================

          Structure

   ======================== */

nav {
  left: 10px;
  position: fixed;
  top: 10px;
  width: 30%;
}

main.right {
  margin-top: 1.5rem;
  width: 70%;
}

/* ========================

        List Items

   ======================== */

nav ul {
  margin: 1em;
}

li {
  margin-bottom: 20px;
}

/* ========================

           Links

   ======================== */

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #216400;
}

/* ========================

           Images

   ======================== */

.gallery img {
  margin-bottom: 30px;
  margin-right: 30px;
  width: 300px;
}

.gallery .art-image {
  width: 500px;
}

/* ========================

        Being Being

   ======================== */

.letters {
  filter: saturate(.5) hue-rotate(90deg);
}

.being-being {
  width: 70px;
}

.click-these {
  width: 300px;
}

.the-being-being h1, .the-being-being p {
  margin-bottom: 1rem;
}
