/* ========================

           General

   ======================== */

html {
  background-color: #282828;
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  line-height: 1.5;
  color: #282828;
}

/* ========================

          Headings

   ======================== */

h1 {
  font-size: 1.7rem;
  font-weight: normal;
}


h2 {
  font-size: 1.2rem;
}

/* ========================

          Structure

   ======================== */

nav {
  background-color: #282828;
  color: #fbf1c7;
  padding: 20px 0 15px 0;
  position: fixed;
  text-align: right;
  width: 100%;
}

header {
  background-color: #282828;
  color: #fbf1c7;
  padding: 160px 100px 60px 100px;
}

section {
  background-color: #fbf1c7;
  padding: 100px;
}

h1, h2, p, img {
  margin-bottom: 50px;
}

/* ========================

        List Items

   ======================== */

nav li {
  display: inline-block;
  padding-right: 50px;
  font-size: 0.6rem;
}

nav p:first-of-type {
  left: 30px;
  position: fixed;
  top: 18px;
}

nav li:last-of-type {
  padding-right: 40px;
}

/* ========================

           Links

   ======================== */

a {
  color: #98971a;
  text-decoration: none;
}

a:hover {
  color: #79740e;
}

.button {
  background-color: #fbf1c7;
  border: 2px solid #282828;
  border-radius: 5px;
  color: #282828;
  font-size: 0.6rem;
  font-weight: bold;
  padding: 0.4rem 0.6rem;
  text-transform: uppercase;
}

.button:hover {
  background-color: #282828;
  border: 0;
  color: #fbf1c7;
}

/* ========================

           Images

   ======================== */

.jason {
  float: left;
  margin: 20px 60px 40px 0;
  width: 300px;
}

.bam-deploy {
  background-color: #282828;
  border: 10px solid #282828;
  border-radius: 10px;
  height: 300px;
}

.social-icon {
  margin-bottom: 0;
  width: 30px;
}

.social-icon:hover {
  opacity: 0.5;
}


/* ========================

          Mobile

   ======================== */

@media (max-width: 800px) {
  .jason {
    display: none;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 24px;
  }

  header {
    padding-top: 100px;
  }

  nav {
    text-align: center;
  }

  nav p {
    display: none;
  }

  nav li:last-of-type {
    padding-right: 0;
  }

  .bam-deploy {
    height: 40vw;
  }

  .button {
    font-size: 0.5rem;
  }
}
