/* ========================

           General

   ======================== */

html {
  background-color: #282828;
  font-family: 'Roboto Mono', monospace;
  font-size: 32px;
  line-height: 1.5;
  color: #282828;
}

/* ========================

          Headings

   ======================== */

h1 {
  font-size: 1.7rem;
  font-weight: normal;
}


h2 {
  font-size: 1.2rem;
}

/* ========================

          Structure

   ======================== */

nav {
  background-color: #282828;
  color: #fbf1c7;
  padding: 25px 0 40px 0;
  position: fixed;
  text-align: right;
  width: 100%;
}

header {
  background-color: #282828;
  color: #fbf1c7;
  padding: 160px 100px 60px 100px;
}

section {
  background-color: #fbf1c7;
  padding: 100px;
}

h1, h2, p, img {
  margin-bottom: 50px;
}

section > p:first-of-type {
  margin-bottom: 25px;
}

/* ========================

        List Items

   ======================== */

nav li {
  display: inline-block;
  padding-right: 70px;
  font-size: 0.6rem;
}

/* ========================

           Links

   ======================== */

a {
  color: #98971a;
  text-decoration: none;
}

a:hover {
  color: #79740e;
}

a.button {
  background-color: #282828;
  border: 0;
  border-radius: 5px;
  color: #fbf1c7;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.6rem;
  font-weight: bold;
  padding: 0.4rem 0.6rem;
  text-transform: uppercase;
}

a.button:hover {
  background-color: #98971a;
}

/* ========================

           Images

   ======================== */

.bam-deploy {
  background-color: #282828;
  border: 10px solid #282828;
  border-radius: 10px;
  height: 300px;
}
